[submodule "etc/.vim/bundle/JavaScript-Indent"]
	path = etc/.vim/bundle/JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "etc/.vim/bundle/vjde"]
	path = etc/.vim/bundle/vjde
	url = https://github.com/cespare/vjde.git
[submodule "etc/.vim/bundle/Doxia-APT"]
	path = etc/.vim/bundle/Doxia-APT
	url = git@github.com:pfeff/Doxia-APT.git
[submodule "etc/.vim/bundle/aj"]
	path = etc/.vim/bundle/aj
	url = https://github.com/vim-scripts/aj.vim.git
[submodule "etc/.vim/bundle/java"]
	path = etc/.vim/bundle/java
	url = git://github.com/vim-scripts/java.vim.git
[submodule "etc/.vim/bundle/slime"]
	path = etc/.vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime
[submodule "etc/.vim/bundle/bufkill"]
	path = etc/.vim/bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim.git
