[submodule "etc/.vim/bundle/JavaScript-Indent"]
	path = etc/.vim/bundle/JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "etc/.vim/bundle/vjde"]
	path = etc/.vim/bundle/vjde
	url = git://github.com/cespare/vjde.git
[submodule "etc/.vim/bundle/Doxia-APT"]
	path = etc/.vim/bundle/Doxia-APT
	url = git@github.com:pfeff/Doxia-APT.git
[submodule "etc/.vim/bundle/aj"]
	path = etc/.vim/bundle/aj
	url = http://github.com/vim-scripts/aj.vim.git
[submodule "etc/.vim/bundle/slime"]
	path = etc/.vim/bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "etc/.vim/bundle/bufkill"]
	path = etc/.vim/bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim.git
[submodule "etc/.vim/bundle/vim-colors-solarized"]
    path = etc/.vim/bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
[submodule "etc/.vim/bundle/vim-coffee-script"]
	path = etc/.vim/bundle/vim-coffee-script
	url = git://github.com/vim-scripts/vim-coffee-script.git
[submodule "etc/.vim/bundle/vim-powerline"]
	path = etc/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "etc/.vim/bundle/vim-repeat"]
	path = etc/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "etc/.vim/bundle/vim-surround"]
	path = etc/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "etc/.vim/bundle/xmledit"]
	path = etc/.vim/bundle/xmledit
	url = git://github.com/vim-scripts/xmledit.git
[submodule "etc/.vim/bundle/java"]
	path = etc/.vim/bundle/java
	url = git://github.com/vim-scripts/java.vim.git
[submodule "etc/.vim/bundle/VimClojure"]
	path = etc/.vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "etc/.vim/bundle/screen"]
	path = etc/.vim/bundle/screen
	url = git://github.com/vim-scripts/Screen-vim---gnu-screentmux.git
[submodule "etc/.vim/bundle/vim-javascript"]
	path = etc/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "etc/.vim/bundle/nerdtree"]
	path = etc/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "etc/.vim/bundle/vimoutliner"]
	path = etc/.vim/bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
